body{
    background-image: url("./media/meeting room.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
}

.homeBox {
    border-radius: 25px;
    padding: 10px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    
}
.table {
    background-color: whitesmoke;
}

.footer {
    
    background-color: whitesmoke;
    padding: 30px 50px;
}

footer p {
    display: block
}