body{
    background-image: url("./media/projectorlight.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar {
  padding:15px 25px;
}
.contactDiv {
  display: inline-block;
  color: black;
  text-align: right;
}
.link {
  color: black;
}

.navbar p {
  font-size: 15px;
}
.homeBox {
    /* border-radius: 25px; */
    /* padding: 10px; */
    background-color: whitesmoke;
    /* border-style: solid; */
    /* border-color: black; */
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.table {
    background-color: whitesmoke;
}

.select {
  color: whitesmoke
}
.footer {
    position:;
    bottom: 0;
    right: 0;
    /* left: 0; */
    background-color: whitesmoke;
    padding: 10px 50px;
    /* z-index: -1; */
}

.success {
    float: right;
}

.info {
    margin-top: 20px;
}

.cart {
    min-height: 200px;
}

.bold {
  font-weight: bold;
}