body{
    background-image: url("./media/meeting room.jpg");
    background-size: cover;
    background-attachment: fixed;

}

.homeBox {
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
}
.table {
    background-color: whitesmoke;
}

footer {
    /* height: 200px; */
    background-color: whitesmoke;
    padding: 40px 0px;
}

footer p {
    display: block
}